/* Footer */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.03);
  padding: 1.5rem 0;
  margin-top: 2rem;
  color: #adadad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
